body {
  text-align: center;
  background: linear-gradient(#ec4e20, #ff9505);
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 1em;
}

header button {
  box-shadow: 0px 0px 0px 0px #1c1b18;
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color: #eae0c2;
  border-radius: 15px;
  border: 3px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-family: Arial;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

header div {
  margin: 2em 0;
}

header {
  border: solid black 2px;
  border-radius: 10%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
  background-color: #ecba82;
}

main > div {
  border: solid black 2px;
  width: 400px;
  height: auto;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  line-height: 2em;
  background-color: #ecba82;
}
