body {
    text-align: center;
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 3em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
}

